.year, .img-tag {
    font-family: 'Minecraft Italic', monospace;
    color: gray;
    text-align: center;
    margin-bottom: 0;
}

.chapter {
    text-align: center;
    border-bottom: 2px solid gray;
}

.paragraph {
    color: lightgray;
}
