.terminal {
    background-color: transparent;
    font-family: monospace;
    color: white;
    overflow: hidden;

    .intro {
        text-align: center;
    }

    .log {

        p {
            margin-bottom: 0 !important;
        }   
    }
}
