html, body {
    overflow-x: hidden;
    background-image: url("../texture/dirt.png");
    background-repeat: repeat;

    .body-container {
        background-color: rgba(0, 0, 0, .75);
    }
}

h1, h2, p {
    font-family: 'Minecraft Regular', monospace;
}
