version: 2.1
orbs:
  node: circleci/node@3.0.0
  discord: teka23/discord@0.0.1
  firebase-deploy: azdevs/firebase-deploy@1.0.0

jobs:
  build:
    executor:
      name: node/default
      tag: 15.11.0
    steps:
      - checkout
      - discord/notify:
          message: ":tools: Building the website..."
          color: "16312092"

      - node/install-packages:
          pkg-manager: yarn
          override-ci-command: "yarn install --frozen-lockfile"

      - run:
          name: Building for production environment
          command: "yarn build --prod"

      - store_artifacts:
          path: ./dist/ihdeveloper
          destination: ./dist

      - persist_to_workspace:
          root: .
          paths:
            - dist
            - firebase.json
            - .firebaserc

      - discord/status:
          fail_only: false
          failure_message: ":red_circle: Failed to build the website!"
          success_message: ":tada: The website has been built successfully!"

  deploy_to_github:
    docker:
      - image: cibuilds/github:0.10
    steps:
      - attach_workspace:
          at: .

      - discord/notify:
          message: ":rocket: Publishing to Github..."
          color: "16312092"

      - run:
          name: "Publish Release on GitHub"
          command: "ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${CIRCLE_SHA1:0:7} ./dist"

      - discord/status:
          fail_only: false
          failure_message: ":red_circle: Failed to publish $CIRCLE_PROJECT_REPONAME/${CIRCLE_SHA1:0:7} on Github"
          success_message: ":tada: The $CIRCLE_PROJECT_REPONAME/${CIRCLE_SHA1:0:7} has been published successfully on Github!"

  deploy_to_firebase:
    docker:
      - image: circleci/node:lts
    steps:
      - discord/notify:
          message: ":rocket: Publishing to :fire: Firebase..."
          color: "16312092"

      - attach_workspace:
          at: .

      - firebase-deploy/deploy:
          token: $FIREBASE_DEPLOY_TOKEN

      - discord/status:
          fail_only: false
          failure_message: ":red_circle: Failed to publish $CIRCLE_PROJECT_REPONAME/${CIRCLE_SHA1:0:7} on :fire: Firebase!"
          success_message: ":tada: The $CIRCLE_PROJECT_REPONAME/${CIRCLE_SHA1:0:7} has been published successfully on :fire: Firebase!"


workflows:
  main:
    jobs:
      - build
      - deploy_to_firebase:
          requires:
          - build
      - deploy_to_github:
          requires:
          - build
