<div class="award-container minecraft-container container-sm d-flex flex-row flex-wrap p-2 mb-3 me-3">
    <img class="flex-shrink-0 me-3" src="assets/{{ img }}" width="64" height="64" />
    <h4 class="d-flex flex-column m-0">
        <ng-content select="span[name]"></ng-content>
        <span class="tag">{{ month }}</span>
    </h4>
    <p class="d-flex justify-content-center w-100 description lead mb-0 text-center">
        <ng-content select="span[description]"></ng-content>
    </p>
</div>
