<div class="mb-4">
    <hd-terminal id="chapter-1" class="w-100 h-100" path="~/myself/bio" command="./ch1"></hd-terminal>
    <hd-minecraft>
        <div class="container-sm d-flex flex-column justify-content-center align-items-center p-3">
            <hd-chapter [num]="1" title="The Coincidence Start" year="2014">
                <ng-container>
                    <p class="lead">I was 12 years old and I loved playing with computers downloading random stuff, trying new programs, manipulating system settings.
                    I found a voice program called <strong class="color-aqua">TeamSpeak</strong>. The program required for you to connect to a server
                    in order to communicate with other people on the internet.</p>
    
                    <br>
    
                    <p>
                        I was curious on how to setup a server. The servers world was unknown to me. I followed some tutorial videos. And got my first local <strong class="color-aqua">TeamSpeak</strong> server working!
                        I was super happy when I got it working. And started to create channels, modifying permissions, etc...
                        <br> <br>
                        Then I tried to add more interactive stuff to the server. And accidently followed a tutorial about <strong class="color-blue">Microsoft Visual Basic 2010</strong>.
                        I was confused of the program. I tried to write channel names instead of actual code 🤦‍♂️ . I thought the program is useless and didn't use it and went on my life.
                        <br> <br>
                        One day I went to the library with my family. And I found a book called "<strong class="color-pink">Microsoft Visual Studio 2012</strong>".
                        I saw that I had a similiar program on my computer. Which I thought it was useless. I bought the book and started reading it!
                        I saw some confusing concepts such as objects, variables, forms, classes and others. And I tried all of them and starting to make pattern out of them.
                        <br> <br>
                        But after understanding these concepts I realized that's how programming is in general. We just don't see it infront of us.
                        <br> <br>
                        Finally, After reading a lot from the book I was fascinated at how programming works and loved it!.
                        This is picture of the first program I ever made! It's very simple one but I applied everything I knew at the time on it.
                        I was really happy that I shared a video of me explaining it to my classmates.
                    </p>

                    <img class="img-fluid mx-auto d-block mt-4 mb-0" src="assets/bio/ch1-1.png" />
                    <p class="img-tag lead">My First Program in 2014</p>
                </ng-container>
            </hd-chapter>
        </div>
    </hd-minecraft>
</div>

<hd-terminal id="chapter-2" class="w-100 h-100" path="~/myself/bio" command="./ch2"></hd-terminal>
<hd-minecraft>
    <div class="container-sm d-flex flex-column justify-content-center align-items-center p-3">
        <hd-chapter [num]="2" title="The Blocky Start" year="2014">
            <ng-container>
                <p class="lead">
                    When I was in grade 6, Me and my classmates used to go to the computers lab.
                    Everyone will sit on a computer and download Minecraft.
                    And basically we play a single player world and see who survives on it.
                    But since we were on the same local network. I was able to host my world on the LAN.
                    And we would join and play on it. But half of the computers wasn't able to.
                    Because they weren't on the same network.
                    So, my friend asked me if I can create a server for us.
                    <br> <br>
                    I didn't knew how to create a Minecraft server at all. It was a mysterious world to me.
                    I watched tutorials on <strong class="color-red">Youtube</strong>.
                    I downloaded CraftBukkit and run it. I was able to connect to the server from my computer.
                    I was so happy that I set the maximum players to <strong>1,000,000</strong> players.
                    <br> <br>
                    I was confused about plugins and what do they do.
                    But when I found out how they affect the behaviour of the server and the game itself.
                    I was fascinated by what plugins can do after I found out.
                    <br> <br>
                    Finally, that's the end of how I got into Minecraft servers.
                    And the start of my nightmare with plugins.
                </p>
            </ng-container>
        </hd-chapter>
    </div>
</hd-minecraft>
