<div>
    <hd-terminal class="w-100 h-100" command="cat ./bio.html"></hd-terminal>
    <hd-minecraft>
        <div class="container">
            <h1 class="text-center">The Biography</h1>
            <p class="lead">
                I was a computer nerd when I was young. I used to download random programs on my computer and see what they do to it.
                I downloaded an IDE software and I didn't knew what to do with it so I never touched it again.
                Until, I saw a book about it on the store and bought it. And that's how I started programming in a young age.
                <br />
                <br />
                I started playing <strong>Minecraft</strong> when I was 11 years old.
                Me and my friends at the school wanted to play together so I tried to look for a way to host a server because I have never done it before.
                We played on it and enjoyed building our own worlds.
                <br />
                <br />
                I didn't understand anything about the servers at that time but I saw a folder called "plugins" and I was curious to what it does.
                I was able to add different plugins and customize the server experience but I got no one to play it except myself.
                <br />
                <br />
                I started to add more customization to the server by adding more plugins.
                But, by doing that I added more complexity which lead to more bugs and glitches in the server.
                <br />
                <br />
                My uncle recommened me to learn <strong>Java</strong> and I found out that I can write my own custom plugins using it to reduce the complexity and simplify some of the tasks for me.
                <br />
                <br />
                After learning Java I started to learn other languages and technologies such as backend, web, mobile, cloud, and etc...
                <br />
                I realized a different perspective on how they work and I was fascinated about the engineering challenges that they tackled.
                I created my first 3D game using Unity called <strong>"H-KingBlocks"</strong> and deployed it on my school computers.
                My classmates liked it and enjoyed playing it. They even found a glitch that could be caused by the graphics settings.
                It's funny everytime I think about it.
                <br />
                <br />
                I applied to work on my first Minecraft server. The server had a strong ambition toward its goals but it lacked the managment to keep it running.
                We were able to build an ecosystem for our plugins to use in a flexible way. Everything was going alright but sadly the team was distracted and couldn't keep up working on the server.
                <br />
                <br />
                I got invited to work with <strong>Blocks</strong> team. They have the biggest cracked Minecraft server.
                My job is to make a prison game in the server. The problem was I didn't knew anything about the game itself.
                I did research on the game and how it works. I talked with staff who used to play it before to study more about the game.
                I engaged with the community to study what do they want and understand their look towards the game.
                <br />
                The project was moving forward but sadly it reached to the point that I couldn't be able to add anything to it.
                And the project got shutdown and closed.
                <br />
                <br />
                I learnt alot in the last few years and I found programming to be my real passion.
                I graduated from high school and I'm ready for the next phase of my life and discover other adventures.
                <br />
                <br />
                Thanks to the programming book, my family, my best friend, my uncle, my internet friends, the heroz team, the blocks team,
                I discovered my true passion and you supported me in every step I made to turn it into reality.
                I hope one day I make or contribute to something that will improve and impact your lifes to be better :)
            </p>
        </div>
    </hd-minecraft>
</div>
