<hd-terminal class="w-100 h-100" command="cat ./bio.html"></hd-terminal>
<hd-minecraft>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center p-3">
        <hd-chapter [num]="1" title="The Coincidence Start" year="2014">
            <ng-container>
                I was 12 years old and I loved playing with computers downloading random stuff, trying new programs, <br> manipulating system settings. <br>
                I found a voice program called <strong class="color-aqua">TeamSpeak</strong>. The program required for you to connect to a server <br>
                in order to communicate with other people on the internet. <br>

                <br>

                I was curious on how to setup a server. The servers world was unknown to me. <br>
                I followed some tutorial videos. And got my first local <strong class="color-aqua">TeamSpeak</strong> server working!

                <br>

                Then I tried to add more interactive stuff to the server. And accidently followed a tutorial <br>
                about <strong class="color-blue">Microsoft Visual Basic 2010</strong>. I was confused of the program. <br>

                <br>

                I tried to write channel names instead of actual code 🤦‍♂️ <br>
                I thought the program is useless and didn't use it and went on my life.

                <br>

                One day I went to the library with my family. And I found a book called "<strong class="color-pink">Microsoft Visual Studio 2012</strong>". <br>
                I saw that I had a similiar program on my computer. Which I thought it was useless. I bought the book and started reading it! <br>

                <br>
                I saw some confusing concepts such as objects, variables, forms, classes and etc...
            </ng-container>
        </hd-chapter>
    </div>
</hd-minecraft>
