---
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/ui/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en">
    <head>
        <title>iHDeveloper - Example</title>

        <Header />
    </head>
    <body>
        <Navbar />

        <Main>
            <Footer />
        </Main>
    </body>
</html>
