---
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/ui/Navbar.astro';
import Footer from '../components/Footer.astro';

import Title from '../components/Title.astro';
import Command from '../components/Command.astro';
import Screen from '../components/Screen.astro';

import ProjectContainer from '../components/containers/ProjectContainer.astro';
import Project from '../components/Project.astro';

import ExperienceContainer from '../components/containers/ExperienceContainer.astro';
import Experience from '../components/Experience.astro';

import LanguageContainer from '../components/containers/LanguageContainer.astro';
import Language from '../components/Language.astro';

import AwardContainer from '../components/containers/AwardContainer.astro';
import Award from '../components/Award.astro';
---
<style lang="scss">
.note {
    color: lightgray;
    font-style: italic;
    text-align: center;
}
</style>

<html lang="en">
    <head>
        <title>iHDeveloper - Secret</title>

        <Header />
    </head>
    <body>
        <Navbar />

        <Main>
            <Title>2021</Title>

            <!--- Test Command -->
            <Command>chmod +x test.sh && ./test.sh</Command>

            <!--- Test Screen -->
            <Screen>
                <p class="note">Note: This page is used for testing the components of the page.</p>
            </Screen>

            <!--- Test Projects -->
            <Command>test ./components/Project.astro</Command>
            <Screen header="Projects">
                <ProjectContainer>
                    <Project name="H Company" year="2021" tag="Startup" description='A tech company that starts with letter "H"' website="https://github.com/iHDeveloper">
                        <ul name="achievements">
                            <li>Founding the company</li>
                            <li>Launching the startup and raise 5 million dollars</li>
                            <li>Manage a team of one person</li>
                            <li>This is fictional</li>
                        </ul>
                    </Project>
                </ProjectContainer>
            </Screen>

            <!--- Test Experience -->
            <Command>test ./components/Experience.astro</Command>
            <Screen header="Expereince">
                <ExperienceContainer>
                    <Experience name="The H Company" position="CEO/CTO" duration="2021" color="aqua" icon="h.png" />
                    <Experience name="Open Source" position="Self Employed" duration="2019" color="lightgray" icon="h.png" />
                </ExperienceContainer>
            </Screen>

            <!--- Test Programming Languages -->
            <Command>test ./components/Language.astro</Command>
            <Screen header="Programming Languages">
                <LanguageContainer>
                    <Language name="Visual Basic" year="2014" />
                    <Language name="ZigLang" year="2021" />
                </LanguageContainer>
            </Screen>

            <!--- Test Award -->
            <Command>test ./components/Award.astro</Command>
            <Screen header="Awards">
                <AwardContainer>
                    <Award name="Made this website" month="July">
                        <span>The person who created this website</span>
                    </Award>
                </AwardContainer>
            </Screen>

            <Footer />
        </Main>
    </body>
</html>
