---
---
<html lang="en">
    <head>
        <title>iHDeveloper - Redirecting</title>
    </head>
    <body>
        <script>
            window.location.assign("/about");
        </script>
    </body>
</html>
