---
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';
---
<html lang="en">
    <head>
        <title>iHDeveloper - About me</title>

        <Header />
    </head>
    <body>
        <Main>
            <h1 style="color:white">Empty page</h1>
        </Main>
    </body>
</html>
