---
import Header from '../components/Header.astro';
---
<html lang="en">
    <head>
        <title>iHDeveloper - Redirecting</title>

        <Header />
    </head>
    <body>
        <script>
            window.location.assign("/about");
        </script>
    </body>
</html>
