---
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';

import Command from '../components/Command.astro';
import Screen from '../components/Screen.astro';

import Project from '../components/Project.astro';

import Experience from '../components/Experience.astro';

import Language from '../components/Language.astro';
---
<html lang="en">
    <head>
        <title>iHDeveloper - About me</title>

        <Header />
    </head>
    <body>
        <Main>

            <!--- Test Command -->
            <Command>chmod +x test.sh && ./test.sh</Command>

            <!--- Test Screen -->
            <Screen>
                <h1>This is a screen! :)</h1>
            </Screen>

            <!--- Test Projects -->
            <Command>test ./components/Project.astro</Command>
            <Screen header="Example projects">
                <Project name="Example Project" year="2021" tag="Example - Component" description="It's just an example project." website="https://github.com/iHDeveloper">
                    <ul name="achievements">
                        <li>Example 1</li>
                        <li>Example 2</li>
                        <li>Example 3</li>
                        <li>Example 4</li>
                    </ul>
                </Project>
            </Screen>

            <!--- Test Experience -->
            <Command>test ./components/Experience.astro</Command>
            <Screen header="Example experience">
                <Experience name="Example Company" position="Full Stack Developer" duration="2021" color="aqua" icon="blocksmc.png" />
            </Screen>

            <!--- Test Programming Languages -->
            <Command>test ./components/Language.astro</Command>
            <Screen header="Example programming languages">
                <Language name="Visual Basic" year="2014" />
            </Screen>
        </Main>
    </body>
</html>
