---
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';

import Command from '../components/Command.astro';
import Screen from '../components/Screen.astro';
---
<html lang="en">
    <head>
        <title>iHDeveloper - About me</title>

        <Header />
    </head>
    <body>
        <Main>
            <Command>chmod +x test.sh && ./test.sh</Command>
            <Screen>
                <h1>This is a screen! :)</h1>
            </Screen>
        </Main>
    </body>
</html>
