---
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';

import Command from '../components/Command.astro';
import Screen from '../components/Screen.astro';

import Project from '../components/Project.astro';
---
<html lang="en">
    <head>
        <title>iHDeveloper - About me</title>

        <Header />
    </head>
    <body>
        <Main>
            <Command>chmod +x test.sh && ./test.sh</Command>
            <Screen>
                <h1>This is a screen! :)</h1>
            </Screen>
            <Command>test ./components/project.astro</Command>
            <Screen header="Example projects">
                <Project name="Example Project" year="2021" tag="Example - Component" description="It's just an example project." website="https://github.com/iHDeveloper">
                    <ul name="achievements">
                        <li>Example 1</li>
                        <li>Example 2</li>
                        <li>Example 3</li>
                        <li>Example 4</li>
                    </ul>
                </Project>
            </Screen>
        </Main>
    </body>
</html>
