<!-- Intro -->

<hd-terminal #introTerminal class="w-100 h-100" [intro]="true">
    <h1 class="display-1">iHDeveloper</h1>
    <h2>Game Developer - Full Stack Developer</h2>
</hd-terminal>

<!-- Navbar -->

<hd-terminal command=""></hd-terminal>
<nav class="minecraft-navbar navbar navbar-expand-lg navbar-light bg-light p-0 sticky-top mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="about" class="nav-link" routerLink="about">About me</a>
        </li>
        <li class="nav-item">
          <a id="bio" class="nav-link" href="#">Bio</a>
        </li>
        <li class="nav-item">
          <a id="awards" class="nav-link" routerLink="awards">Awards</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet #outlet></router-outlet>

<!-- Contact Me -->

<hd-terminal class="w-100 h-100" command="cat ./contact-me.html"></hd-terminal>
<hd-minecraft>
    <div class="container-fluid">
        <div class="d-flex flex-wrap justify-content-around btn-group pt-2 pb-2" role="group" aria-label="Basic example">
            <a class="btn btn-primary" href="https://github.com/iHDeveloper" target="_blank">Github</a>
            <a class="btn btn-primary" href="https://www.linkedin.com/in/ihdeveloper" target="_blank">Linked In</a>
            <a class="btn btn-primary" href="https://www.youtube.com/channel/UCsEUX-0TAGHWHE6IWWfT0ag" target="_blank">Youtube</a>
            <a class="btn btn-primary" href="https://twitter.com/iHDeveloper" target="_blank">Twitter</a>
        </div>
    </div>
</hd-minecraft>

<!-- The End -->

<hd-terminal class="w-100 h-100" command="exit"></hd-terminal>
<hd-minecraft>
    <div class="container-fluid pb-4 mb-4">
        <p class="lead text-center">
            iHDeveloper &copy; 2021. All rights reserved. <br />
            All trademarks, logos, and company names are the property of their respective owners.
            <br />
            <br />
            Special thanks to everyone who supported and helped me into becoming what I am today <strong style="color:red">&lt;3</strong>
        </p>
    </div>
</hd-minecraft>
