
<!-- Who Am I -->

<hd-terminal #introTerminal class="w-100 h-100" [intro]="true">
    <h1 class="display-1">iHDeveloper</h1>
    <h2>Game Developer - Full Stack Developer</h2>
</hd-terminal>
<hd-minecraft>
    <p class="lead text-center mb-0">My name is Hamza.</p>
</hd-minecraft>

<!-- About Me -->

<hd-terminal class="w-100 h-100" command="cat ./about-me.html"></hd-terminal>
<hd-minecraft>
    <div class="container">
        <h6 class="text-center mb-2">&gt; HTML Viewer &lt;</h6>
        <p class="lead text">
            I'm game and full stack developer. I like to create games that players enjoy playing.
            <br />
            And, I like designing web applications too!
            <br />
            <br />
            I have been programming for 7 years since Grade 6! And, I know about 10 programming languages.
            I like to try different technologies and languages with different designs
        </p>
    </div>
</hd-minecraft>

<!-- Projects -->

<hd-terminal class="w-100 h-100" command="cat ./projects.html"></hd-terminal>
<hd-minecraft>
    <div class="container-fluid pe-2 ps-2">
        <h6 class="text-center mb-2">&gt; HTML Viewer &lt;</h6>
        <div class="d-flex flex-wrap justify-content-around">
            <hd-project name="The Hunters" description="UHC Speedrun in Minecraft" version="1.0" tags="UHC - Game" github="https://github.com/iHDeveloper/TheHunters"></hd-project>
            <hd-project name="React GUI" description="Custom GUI library for Minecraft" version="1.0" tags="GUI - Spigot Library" github="https://github.com/iHDeveloper/ReactGUI"></hd-project>
            <hd-project name="Sign Editor API" description="Simple API for custom sign editors!" version="1.0" tags="GUI - Spigot Library" github="https://github.com/iHDeveloper/sign-editor-api"></hd-project>
            <hd-project name="Spigot Starter Kit" description="Quick way to start Spigot project!" version="1.0" tags="Spigot - Project Template" github="https://github.com/iHDeveloper/spigot-starter-kit"></hd-project>
            <hd-project name="Hypixel Events" description="Website that tracks Hypixel events" version="0.1.3" state="BETA" tags="Web Application" github="https://github.com/iHDeveloper/HypixelEvents" website="https://hypixel.ihdeveloper.me"></hd-project>
            <hd-project name="React Item" description="Custom Items library for Minecraft" version="0.8" state="BETA" tags="Item - Spigot Library" github="https://github.com/iHDeveloper/ReactItem"></hd-project>
            <hd-project name="Kotraction" description="Kotlin library for using Discord interactions" version="0.1" state="ALPHA" tags="Interactions - Discord Library" github="https://github.com/iHDeveloper/kotraction"></hd-project>
            <hd-project name="Zstd Connection" description="Use Zstd as compression in bukkit-bungee server" version="0.0" state="W.I.P" tags="Bungee/Spigot Plugin" github="https://github.com/iHDeveloper/zstd-connection"></hd-project>
            <hd-project name="Spigot Dev Mod" description="Minecraft Mod with tools to help Spigot developer" version="0.0" state="W.I.P" tags="Minecraft Forge Mod" github="https://github.com/iHDeveloper/spigot-dev-tools"></hd-project>
        </div>
    </div>
</hd-minecraft>

<!-- Experience -->
<hd-terminal class="w-100 h-100" command="cat ./experience.html"></hd-terminal>
<hd-minecraft>
    <div class="container-fluid pe-2 ps-2">
        <h6 class="text-center mb-2">I have worked with these servers</h6>
        <div class="d-flex flex-wrap justify-content-around mb-3">
            <hd-experience>
                <img src="assets/blocksmc-icon.png" width="64" height="64" />
                <span style="color: aqua;" name>BlocksMC</span>
                <span style="color: darkcyan;" position>Technical Consultant</span>
                <span duration>2020</span>
            </hd-experience>
            <hd-experience>
                <img src="assets/blocksmc-icon.png" width="64" height="64" />
                <span style="color: aqua;" name>BlocksMC</span>
                <span style="color: darkcyan;" position>Java Minigame Developer</span>
                <span duration>2018 - 2019</span>
            </hd-experience>
            <hd-experience>
                <img src="assets/heroz-sa-icon.png" width="64" height="64" />
                <span style="color: yellow;" name>Heroz PvP</span>
                <span style="color: darkcyan;" position>Java Developer</span>
                <span duration>2016 - 2017</span>
            </hd-experience>
        </div>
    </div>
</hd-minecraft>

<!-- Contact Me -->

<hd-terminal class="w-100 h-100" command="cat ./contact-me.html"></hd-terminal>
<hd-minecraft>
    <div class="container-fluid">
        <div class="d-flex justify-content-center btn-group pt-2 pb-2" role="group" aria-label="Basic example">
            <a class="btn btn-primary" href="https://github.com/iHDeveloper" target="_blank">Github</a>
            <a class="btn btn-primary" href="https://www.linkedin.com/in/ihdeveloper" target="_blank">Linked In</a>
            <a class="btn btn-primary" href="https://www.youtube.com/channel/UCsEUX-0TAGHWHE6IWWfT0ag" target="_blank">Youtube</a>
            <a class="btn btn-primary" href="https://twitter.com/iHDeveloper" target="_blank">Twitter</a>
        </div>
    </div>
</hd-minecraft>
