<!-- <hd-terminal class="w-100 h-100" [intro]="true" command="whoami">
    <h1 class="display-1">iHDeveloper</h1>
    <h2>Game Developer - Full Stack Developer</h2>
</hd-terminal>

<hd-minecraft>
    <div class="container">
        <p class="lead">
            Hello, My real name is Hamza. People on the internet call me "HD" or "Dev".
            I'm game and full stack developer.
            <br />
            I have been programming for 6 years since Grade 6! And, I know about 10 programming languages.
        </p>

        <br />

        <p class="lead">
            I love creating games that people enjoy playing.
            <br />
            My favourite type of games is Multiplyer games. I'm fascinated in designing the game protocol.
            And, how the server apply rules to all the players to apply fairness in the game.
            <br>
            I like manipulating a game protocol to generate unexpected different game behaviour.
        </p>
    </div>
</hd-minecraft> -->



<hd-terminal class="w-100 h-100" [intro]="true" command="whoami">
    <h1 class="display-1">iHDeveloper</h1>
    <h2>Game Developer - Full Stack Developer</h2>
</hd-terminal>

<hd-minecraft>
    <p class="lead text-center mb-0">My name is "Hamza".</p>
</hd-minecraft>

<hd-terminal class="w-100 h-100" command="cat ./about-me.html"></hd-terminal>

<hd-minecraft>
    <div class="container">
        <h6 class="text-center mb-2">&gt; HTML Viewer &lt;</h6>
        <p class="lead text">
            I'm game and full stack developer. I like to create games that players enjoy playing.
            <br />
            And, I like designing web applications too!
            <br />
            <br />
            I have been programming for 7 years since Grade 6! And, I know about 10 programming languages.
            I like to try different technologies and languages with different designs
        </p>
    </div>
</hd-minecraft>

<hd-terminal class="w-100 h-100" command="cat ./contact-me.html"></hd-terminal>

<hd-minecraft>
    <div class="container-fluid">
        <div class="d-flex justify-content-center btn-group pt-2 pb-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Github</button>
            <button type="button" class="btn btn-primary">Linked In</button>
            <button type="button" class="btn btn-primary">Youtube</button>
            <button type="button" class="btn btn-primary">Twitter</button>
        </div>
    </div>
</hd-minecraft>
