.minecraft-navbar {
    background-image: url("/assets/texture/dirt.png");
    background-repeat: repeat;
    font-family: 'Minecraft Regular', monospace;
    box-shadow: 3px 2px 4px 4px black;

    .container-fluid {
        background-color: rgba(0, 0, 0, .45);
        color: white !important;
    }

    .navbar-toggler {
        color: white !important;
        border-color: white !important;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
        }
    }

    a.nav-link, a.navbar-brand {
        color: white !important;
    }

    a.nav-link {
        &.active, &:hover {
            color: yellow !important;
        }
    }
}
