.loading-screen {
    background-image: url("/assets/dirt-texture.png");
    background-size: 16px 16px;
    background-repeat: repeat;

    div.black-background {
        background-color: black;
        opacity: .5;
        min-height: 5em;
    }

    div.content {
        background-color: rgba(0, 0, 0, .45);
        color: white;

        font-family: 'Minecraft Regular', monospace;
    }
}
