---
import Command from './Command.astro';
import Screen from './Screen.astro';
---

<Command>exit</Command>
<Screen>
    <div class="container-fluid pb-2">
        <p class="lead text-center">
          iHDeveloper &copy; 2021. All rights reserved. <br />
          All trademarks, logos, and company names are the property of their respective owners.
          <br />
          <br />
          Special thanks to everyone who supported and helped me into becoming who I am today <strong style="color:red">&lt;3</strong>
        </p>
    </div>
</Screen>

<script src="/js/bootstrap.js"></script> 
