<style lang="scss">
    h1 {
        font-family: 'Minecraft Regular', monospace;
    }
    main {
        padding-top: 4em !important;
    }
</style>

<main class="body-container container-fluid p-0 pb-4">
    <div class="min-vh-100 min-vw-100 pb-4">
        <slot />
    </div>
</main>