
<hd-terminal class="w-100 h-100" command="chmod +x awards.sh"></hd-terminal>
<hd-terminal class="w-100 h-100" command="./awards.sh"></hd-terminal>

<!-- 2020 -->
<hd-terminal class="w-100 h-100" [intro]="true">
    <h2 class="year display-2">2020</h2>
</hd-terminal>
<hd-minecraft>
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center p-3">
        <hd-award month="April" img="icon/makeitandplayit.png">
            <span name>Trained 200 students!</span>
            <span description>Trained 200 students on Game Development!</span>
        </hd-award>    
    </div>
</hd-minecraft>

<!-- 2019 -->
<hd-terminal class="w-100 h-100" [intro]="true">
    <h2 class="year display-2">2019</h2>
</hd-terminal>
<hd-minecraft>
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center p-3">
        <hd-award month="May">
            <span name>National Player</span>
            <span description>Member of the National Informatics Team</span>
        </hd-award>
        <hd-award month="December" img="icon/udacity.svg">
            <span name>Full Stack Developer</span>
            <span description>Graduated from <span style="color:aqua">Udacity</span> with <span style="color:yellow">Full Stack Nanodegree</span></span>
        </hd-award>
    </div>
</hd-minecraft>

<!-- 2018 -->
<hd-terminal class="w-100 h-100" [intro]="true">
    <h2 class="year display-2">2018</h2>
</hd-terminal>
<hd-minecraft>
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center p-3">
        <hd-award month="December" img="icon/google-code-in.png">
            <span name>First Google Contest!</span>
            <span description>Participate in Google Code-In</span>
        </hd-award>
        <hd-award month="November" img="icon/mit-health-hackathon.png">
            <span name>Hacking health future</span>
            <span description>Participate in MIT Health Hackathon</span>
        </hd-award>
        <hd-award month="September" img="icon/junction.png">
            <span name>Hacking smart future</span>
            <span description>Participate in Junction Hackathon (Smart city & IoT)</span>
        </hd-award>
        <hd-award month="August" img="icon/hajj-hackathon.png">
            <span name>First Hackathon!</span>
            <span description>Participate in Hajj Hackathon</span>
        </hd-award>
    </div>
</hd-minecraft>

<!-- 2017 -->
<hd-terminal class="w-100 h-100" [intro]="true">
    <h2 class="year display-2">2017</h2>
</hd-terminal>
<hd-minecraft>
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center p-3">
        <hd-award month="December">
            <span name>First win!</span>
            <span description>Got 1st in Riyadh Programming Competition</span>
        </hd-award>
        <hd-award month="December">
            <span name>Smartest Robot Brain</span>
            <span description>Best program in Riyadh Sumo Robot Competition</span>
        </hd-award>
        <hd-award month="January">
            <span name>First medal!</span>
            <span description>Silver Medal in Chemistry Riyadh Competition</span>
        </hd-award>
    </div>
</hd-minecraft>
