<div class="terminal container-fluid p-0">
    <div class="row align-items-end" *ngIf="isIntro">
        <div class="intro col mb-1">
            <ng-content select="h1"></ng-content>
            <ng-content select="h2"></ng-content>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <div class="log container-fluid" *ngFor="let log of logs">
                <p *ngIf="log.isCommand">{{log.username}}@{{log.hostname}}> [{{log.path}}] $ {{log.message}}</p>
                <p *ngIf="!log.isCommand">{{log.message}}</p>
            </div>
        </div>
    </div>
</div>
