.terminal {
    background-color: black;
    font-family: monospace;
    color: rgb(128, 128, 128);
    overflow: hidden;

    .intro {
        text-align: center;
    }

    .log {

        p {
            margin-bottom: 0 !important;
        }   
    }
}
