.minecraft-container {
    .name {
        font-family: 'Minecraft Bold';
    }
    .tag {
        color: rgb(128, 128, 128);
        font-family: 'Minecraft Italic';
    }
    .year {
        color: rgb(169, 169, 169);
    }
}
