<div class="container-sm minecraft-container pt-2 pb-2 pe-4 ps-4 m-2">
    <div class="row">
        <div class="col-9 p-0">
            <div class="d-flex flex-column">
                <div class="d-inline-flex">
                    <h4 class="m-0">{{ name }}</h4>
                    <p class="state italic m-0 ms-1" *ngIf="state !== undefined">{{ state }}</p>
                </div>
                <p class="tag itatlic m-0 ms-1" *ngIf="tags !== undefined">{{ tags }}</p>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2 d-flex justify-content-end">
            <div class="align-self-center">
                <img class="github-icon" src="assets/question-mark.png" width="32" height="32">
            </div>
        </div>
    </div>
    <p class="lead text-center">
        {{ description }}
    </p>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <a class="btn btn-primary" href="{{ website }}" target="_blank" *ngIf="website !== undefined">{{ websiteName }}</a>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <div class="align-self-center">
                <p class="m-0">v{{ version }}</p>
            </div>
        </div>
    </div>
</div>
