<!-- Who Am I -->
<hd-terminal class="w-100 h-100" command="whoami"></hd-terminal>
<hd-minecraft>
  <p class="lead text-center mb-0">My name is Hamza.</p>
</hd-minecraft>

<hd-terminal command="cat ./videos.html"></hd-terminal>
<hd-minecraft>
  <div class="container-fluid p-2 d-flex flex-column align-items-center justify-content-center">
    <h6 class="text-center mb-2">Video of my work</h6>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BXlPDq4DVlw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h6 class="desc text-center mb-2">Spigot Dev Tools (Minecraft Mod) - Humans (Spigot Plugin)</h6>
  </div>
</hd-minecraft>

<!-- About Me -->

<hd-terminal class="w-100 h-100" command="cat ./about-me.html"></hd-terminal>
<hd-minecraft>
    <div class="container pt-2 ps-2 pe-2">
        <h6 class="text-center mb-2">About who I am</h6>
        <p class="lead text">
            I like to mod things and design backend systems. I create backend systems, software, websites and APIs.
        </p>
    </div>
</hd-minecraft>

<!-- Projects -->

<hd-terminal id="projects" class="w-100 h-100" command="cat ./projects.html"></hd-terminal>
<hd-minecraft>
    <div class="container-fluid pt-2 ps-2 pe-4">
        <h6 class="text-center mb-2">I have worked on these projects</h6>
        <div class="d-flex flex-column flex-wrap justify-content-center align-items-center">
            <hd-project name="Spigot Dev Tools" year="2021" tags="Tool - Modded Minecraft" websiteName="Github" website="https://github.com/iHDeveloper/spigot-dev-tools">
                <span description>
                    Minecraft mod for providing tools to understand the game world on the server-side
                </span>
                <ul>
                    <li>Design a protocol between the mod/plugin that's flexible on most game versions</li>
                    <li>Design an API to require one-line of Java code to easy to use</li>
                </ul>
            </hd-project>
            <hd-project name="Humans" year="2020" tags="Open World - Modded Minecraft" websiteName="Github" website="https://github.com/iHDeveloper/Humans">
                <span description>
                    Multiplayer game with open world following a certain timeline and events
                </span>
                <ul>
                    <li>Design flexible architecture to easily manipulate the game world</li>
                    <li>Create scene system for presenting stories in the game</li>
                    <li>Write NPC system that doesn't relay on any third-party plugins</li>
                </ul>
            </hd-project>
            <hd-project name="RAForSB" year="2018" tags="Remote Access For Smart Board">
                <span description>
                    Mobile App for allowing the user to access and control the smart board
                </span>
                <ul>
                    <li>Design protocol for communicating between the remote and the board</li>
                    <li>Use ElectronJS to provide an interactive display</li>
                    <li>Writes a middleman server using Java to connect between the remote and the board</li>
                </ul>
            </hd-project>
        </div>
        <h6 class="desc text-center mb-2">and more...</h6>
    </div>
</hd-minecraft>

<!-- Experience -->
<hd-terminal class="w-100 h-100" command="cat ./experience.html"></hd-terminal>
<hd-minecraft>
    <div class="container-fluid pt-2 ps-4 pe-4">
        <h6 class="text-center mb-2">I have worked with these servers</h6>
        <div class="d-flex flex-wrap justify-content-around mb-3">
            <hd-experience>
                <img src="assets/icon/blocksmc.png" width="64" height="64" />
                <span style="color: aqua;" name>BlocksMC</span>
                <span style="color: darkcyan;" position>Technical Consultant</span>
                <span duration>2020</span>
            </hd-experience>
            <hd-experience>
                <img src="assets/icon/blocksmc.png" width="64" height="64" />
                <span style="color: aqua;" name>BlocksMC</span>
                <span style="color: darkcyan;" position>Java Minigame Developer</span>
                <span duration>2018 - 2019</span>
            </hd-experience>
            <hd-experience>
                <img src="assets/icon/heroz-sa.png" width="64" height="64" />
                <span style="color: yellow;" name>Heroz PvP</span>
                <span style="color: darkcyan;" position>Java Developer</span>
                <span duration>2016 - 2017</span>
            </hd-experience>
        </div>
    </div>
</hd-minecraft>

<!-- Languages -->
<hd-terminal command="cat ./languages.html"></hd-terminal>
<hd-minecraft>
    <div class="container pt-2 ps-2 pe-2">
        <h6 class="text-center mb-2">Languages I have used before</h6>
        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center p-3">
            <hd-lang lang="Visual Basic" year="2014"></hd-lang>
            <hd-lang lang="C#" year="2015"></hd-lang>
            <hd-lang lang="Java" year="2016"></hd-lang>
            <hd-lang lang="JavaScript" year="2016"></hd-lang>
            <hd-lang lang="PHP" year="2017"></hd-lang>
            <hd-lang lang="Lua" year="2017"></hd-lang>
            <hd-lang lang="Python" year="2018"></hd-lang>
            <hd-lang lang="Typescript" year="2019"></hd-lang>
            <hd-lang lang="Dart" year="2019"></hd-lang>
            <hd-lang lang="C/C++" year="2019"></hd-lang>
            <hd-lang lang="Kotlin" year="2019"></hd-lang>
            <hd-lang lang="Elixir" year="2019"></hd-lang>
        </div>
    </div>
</hd-minecraft>
