::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border: 1px solid #555353;
    border-radius: 0px;

    &:hover {
        background: #ffffff;
    }

    &:active {
        background: #000000;
    }
}

::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 0px;

    &:hover {
        background: #000000;
    }

    &:active {
        background: #000000;
    }
}

::-webkit-scrollbar-corner {
    background: transparent;
}
